# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://camjjbpqobbjrwnbmwjx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhbWpqYnBxb2JianJ3bmJtd2p4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyMjE2NzUsImV4cCI6MjA4MDc5NzY3NX0.RMSfX4YayVtGXtRJKwBts38P4uiDEykJCMsWDpobCjs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhbWpqYnBxb2JianJ3bmJtd2p4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTIyMTY3NSwiZXhwIjoyMDgwNzk3Njc1fQ.78KZbem537a-QE36MZP3kUj3SdJnRbzInVL0nH2VOHk

# Cron Job Security
CRON_SECRET=pulsewatch_cron_kJ8mN3pQ9xR2vL5tW7yZaB4cD6eF

# Telegram Bot
TELEGRAM_BOT_TOKEN=8523924724:AAEA3Xgc_tOLCWY1gqCubJOrE1CCoiRHiTY
TELEGRAM_WEBHOOK_SECRET=meu_webhook_secreto_12345

# App
NEXT_PUBLIC_APP_URL=https://pulsewatch.click

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51ScSKLRs2NFoCBwyda3WZN8IIZgVB8CpyJykSWYQpAM0POR1yHoK4hAqoyeXr1JAeH7Z3vYxPT472CHBN9F7mW6N00SKlYSi7a
STRIPE_SECRET_KEY=sk_test_51ScSKLRs2NFoCBwyrSXMmj4MB3uVc4gYK6kIlXv2v39XOOZaUcaGMb4jl3VHgxbYByrmFQTcp8VP8Z80eveRdZ7J00x1RVjlRT
STRIPE_WEBHOOK_SECRET=whsec_w4DrZGk6WUPh7uDMS5Y8wTrqGeiJZ3Ze
STRIPE_PRICE_ID_PRO_MONTHLY=price_1ScSMhRs2NFoCBwyXroeMJZL

# Google AI (Gemini)
GOOGLE_GEMINI_API_KEY=AIzaSyAeTSYHLmpJI2NWuboMhuXAnAROgKpoI5c

# Twilio (WhatsApp & SMS)
TWILIO_ACCOUNT_SID=AC69a06e5b33b6247566de280ce1698d3a
TWILIO_AUTH_TOKEN=ccb38bcde70a022b62c2706d3e1a8627
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_PHONE_NUMBER=+12345678900
